body {
    box-sizing: border-box;
    font-size: 100%;
}

li {
    list-style: none;
    padding: 0;
    border: 2px solid;
    width: 35rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper {
    border: 2px solid red;
    width: 70rem;
    margin: 0 auto;
}

.block {
    text-align: center;
}

.block-input {
    margin: 2em 0px;
}

.block-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topical {
    margin: 0px 2em;
}

.block-text{
    border: 2px solid blue;
    padding: 0;
}

.text-li {
    display: inline-block;
    border: 2px solid;
    width: 25rem;
    height: auto;
    word-break: break-all;
}

.edit {
    position: absolute;
    right: 4rem;
}

.clear {
    position: absolute;
    right: 0;
}

.active {
    text-decoration: line-through;
}